.explore-courses-btn {
  padding-top: 16px;
}

.panel-background {
  background: var(--pgn-color-light-200);
}

.recommendations-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.813rem;
  background: var(--pgn-color-light-200);
}
